@model PaginationInfo

<div class="row pb-2">
    <div class="col">
        @if (Model.TotalPages > 1)
        {
            <partial name="_PaginationPartial" model="Model" />
        }
    </div>
    <div class="col">
        <partial name="_ItemsPerPagePartial" model="Model" />
    </div>
</div>