@model PaginationInfo

@{
    Dictionary<string, string> actionParameters = (Model.RouteParams != null) ? new Dictionary<string, string>(Model.RouteParams) : new Dictionary<string, string>();
    int currentPage = (Model.RouteParams?.ContainsKey("page") ?? false) ? int.Parse(Model.RouteParams["page"]) : 1;
}

<div>
    <p>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            actionParameters["page"] = i.ToString();
            <span style="margin-right: 1em;"><a class="btn btn-primary @(i == currentPage ? "disabled" : "")" asp-action="List" asp-all-route-data="actionParameters">@i</a></span>
        }
    </p>
</div>